aiohttp == 3.7.4
asqlite @ git+https://github.com/Rapptz/asqlite.git
backoff == 1.10.0
pytz == 2021.1
uvloop == 0.15.1
speedrun.py @ git+https://github.com/null2264/speedrun.py
discord.py == 2.3.1
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus
python-dateutil == 2.8.1
requests == 2.25.1
